<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 100px; background-color: #232F3E"> 
		<div class="container">
			<h4 style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; color: #2A6496; font-size: 24px;">E-Deals <i class="fa fa-edge" aria-hidden="true"></i></h4>
			<div class="navbar-header"> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/#/users/{{user._id}}">Home</a>
					
				
			</div>

			
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right"> 
					<li style="padding-right: 150px; padding-top: 16px; "><input type="text" ng-model="filter_name" placeholder="Search...">
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 20px">Hello {{user.username}} <b class="caret"></b></a>
						<ul  class="dropdown-menu">
							
							<li><a href="/myaccount">My Account</a></li>
							<li><a ng-click="logout()">LogOut</a></li>
							
						</ul>
					</li>
					<li class="dropdown" >
						<a href="" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 30px"><i style= "color: #F08804"class="fa fa-shopping-cart" aria-hidden="true"></i> {{total[total.length-1]}}<b class="caret"></b></a>
						
						<ul  class="dropdown-menu" >
							<div ng-repeat= "c in cart">
							<li style="padding-left: 20px"><a href="/myaccount">{{c.product[0].product_name}}</a></li>
							<hr>
							
							</div>
						</ul>
						<li style="font-size: 20px"><a href="/#/cart">Cart</a></li>
					</li>
				</ul>
			 </div>
			
		</div>
</div>

<div class="row" style="padding-top: 100px">
<div class="col-md-9 " >
<div style="padding-left: 10px">
		<table class="table" >

			<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
			</thead>
			<tbody >

				<tr ng-repeat = "c in cart">
						<td><img src="{{c.product[0].image}}" style="width:130px;height:180px; "></td>
						<td><h4 style="font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif; color: #111111"><a href="/#/product/{{c.product[0]._id}}"><b>{{c.product[0].details}}</b></a></h4>
						<p style="color: #008A00">In stock</p> 
						<p style="color: #5D5D5D"> Eligible for FREE Shipping & FREE Returns</p>
						<p><input type="checkbox" value="">This is a gift <a href="Learn more">Learn more</a></p>
						<p style="color: #E47911"><a  ng-click = "deletecart(c._id)">Delete</a> | <a href=""> Save for later</a></p>
						</td>
						<td style="color: #B22A07">${{c.product[0].price}} </td>
						<td><input type="number" ng-model = "buy.quantity" min="1" style="width: 50px; background-color: #DDE0E5"></td>
				</tr>
				
			</tbody>
		</table>
		</div>
</div>

	<div class="col-md-3 " style="padding: 10px; border: 0.1px ridge #DDE0E5; margin-top: 30px;padding-left: 20px;">
		<p style="color: #047804">Your order qualifys for <b>FREE</b> shipping</p>
		<h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Subtotal ({{total.length}} items): <p style="color: #B12704">${{total_price}}</p></h3>
		<button style="background-color: #F1C965; padding-left: 10px;margin-left: 20px" > <a href= "/#/checkout"> Proceed to checkout</a> </button>
		
	</div>


</div>