<div>
  <div class="login-page" style="width:360px;padding:8% 0 0;margin: auto">
    <div class="form" style="position:relative, z-index: 1;background: #FFFFFF ;max-width: 360px;margin: 0 auto 100px;padding: 45px;text-align: center;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
      <form class="register-form" ng-submit="register(reg_username, reg_password, reg_email, reg_firstname, reg_lastname)" style="display: none;">
        
        
        <label>Username: </label><input type='text' placeholder="Username" ng-model='reg_username' style="font-family:Roboto,sans-serif;outline: 0;background:#f2f2f2 ;width:100%;border:0;margin:0 0 15px;padding:15px;box-sizing: border-box;font-size: 14px;"/></label><br>
        <label>Email: </label><input type='text' placeholder="Email" ng-model='reg_email' style="font-family:Roboto,sans-serif;outline: 0;background:#f2f2f2 ;width:100%;border:0;margin:0 0 15px;padding:15px;box-sizing: border-box;font-size: 14px;"/></label><br>
        <label>Password: </label><input type='password' placeholder="Password" ng-model='reg_password' style="font-family:Roboto,sans-serif;outline: 0;background:#f2f2f2 ;width:100%;border:0;margin:0 0 15px;padding:15px;box-sizing: border-box;font-size: 14px;"/></label>
        <button type="submit" style="font-family:Roboto,sans-serif;text-transform: uppercase;outline: 0;background:#4CAF50 ;;width:100%;border:0;color: #FFFFFF ;padding:15px;font-size: 14px;-webkit-transition: all 0.3 ease;transition: all 0.3 ease;cursor: pointer;">create</button>
        <p class="message" style="margin: 15px 0 0;color: #b3b3b3 ;font-size: 12px;">Already registered? <a href="/#/" style="color: #4CAF50 ;text-decoration: none;">Sign In</a></p>
      </form>
      <form class="login-form" ng-submit="login(login_username, login_password)">
        <label>Username: </label><input type='text' placeholder="Username" ng-model='login_username' style="font-family:Roboto,sans-serif;outline: 0;background:#f2f2f2 ;width:100%;border:0;margin:0 0 15px;padding:15px;box-sizing: border-box;font-size: 14px;"/></label><br>
        <label>Password: </label><input type='password' placeholder="Password" ng-model='login_password' style="font-family:Roboto,sans-serif;outline: 0;background:#f2f2f2 ;width:100%;border:0;margin:0 0 15px;padding:15px;box-sizing: border-box;font-size: 14px;"/></label>
        <button type="submit" style="font-family:Roboto,sans-serif;text-transform: uppercase;outline: 0;background:#4CAF50 ;;width:100%;border:0;color: #FFFFFF ;padding:15px;font-size: 14px;-webkit-transition: all 0.3 ease;transition: all 0.3 ease;cursor: pointer;">login</button>
        <p class="message">Not registered? <a href="#" ng-click = "createAccount()">Create an account</a></p>
      </form>
    </div>
  </div>
</div>