<!-- {{user}} -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 120px; "> 
		<div class="container" style="background-color:#006C8A">
			<h4 style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; color: #BE3231; font-size: 35px;">E-Deals <i class="fa fa-edge" aria-hidden="true"></i></h4>
			<div class="navbar-header"> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/#/users/{{user._id}}" style="color: #000000">Home</a>
					
				
			</div>

			
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right"> 
					<li style="padding-right: 150px; padding-top: 16px; "><input type="text" ng-model="filter_name" placeholder="Search...">
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 20px; color: #000000">Hello {{user.username}} <b class="caret"></b></a>
						<ul  class="dropdown-menu">
							
							<li><a href="/#/account">My Account</a></li>
							<li><a ng-click="logout()">LogOut</a></li>
							
						</ul>
					</li>
					<li class="dropdown" >
						<a href="" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 30px"><i style= "color: #F08804"class="fa fa-shopping-cart" aria-hidden="true"></i> {{total[total.length-1]}}<b class="caret"></b></a>
						
						<ul  class="dropdown-menu" >
							<div ng-repeat= "c in cart">
							<li style="padding-left: 20px"><a href="/myaccount">{{c.product[0].product_name}}</a></li>
							<hr>
							
							</div>
						</ul>
						<li style="font-size: 20px;"><a href="/#/cart" style="color: #000000">Cart</a></li>
					</li>
				</ul>
			 </div>
			
		</div>
</div>


<div class="row" style="padding-top: 150px; width: 2000px; ">
<div class="col-md-7">

<ng-fader></ng-fader>

</div>

</div>


<div class="row" style="padding-top: 30px">
	<div class="col-md-7">
		<div ng-repeat = "product in products | filter: filter_name track by $index" style="display: inline-block; padding-left: 50px; ">


			<img src="{{product.image}}" style="width:150px;height:150px; ">
			<h6 style="padding-left: 50px"><a ng-click="oneproduct(product._id)">{{product.product_name}}</a></h6>
			<div ng-show = "showproduct">
				<h6>display</h6>
			</div>
			

		</div>

	</div>
	<div class="col-md-2">
		<div >
			<iframe src="https://www.youtube.com/embed/4207_QwEnn0?rel=0&amp;autoplay=1 " frameborder="0" width="480" height="500"></iframe>
		</div>
	</div>
</div>





